.loading{
    width: 100vw;
    height: 10vh;
    animation: load ease-in-out 2s;
    background-color: white;
    z-index: 2;
   
}
@keyframes load {
    from {
     transform: rotateX(180deg);
      margin-bottom: 0vh;
    }
    to {
      transform: rotateX(90deg);
      /* margin-bottom: 12vh; */
    }
  }